services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend
    depends_on:
      postgres:
        condition: service_healthy



  frontend:
    build:
      context: .
      dockerfile: Dockerfile_frontend
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend


  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: chat
      POSTGRES_PASSWORD: chatpwd
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chat -d chat_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
